.custom-scroll-bar::-webkit-scrollbar {
  height: 8px;
}
.custom-scroll-bar-v::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 8px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
