@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #575655;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
  font-weight: initial;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

.preview-block table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #333333;
}

.preview-block th,
.preview-block td {
  padding: 16px;
  border: 1px solid #333333;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@layer base {
  svg {
    display: inline;
    vertical-align: baseline;
  }
}

@layer components {
  .overlay-modal {
    @apply fixed top-0 left-0 right-0 bottom-0 h-full bg-gray-700 bg-opacity-75 transition-opacity z-50;
  }

  .modal {
    @apply fixed left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-2xl top-1/2 shadow-lg p-8 transition-all;
  }

  .button {
    @apply rounded-lg focus:outline-none;
  }

  .dropdown-button {
    @apply inline-flex justify-between items-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .dropdown-select {
    @apply origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .dropdown-select-item {
    @apply flex justify-between w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
  }

  .select-box {
    @apply relative border-1.5 rounded-8 p-16px flex items-center cursor-pointer justify-between;
  }

  .select-multiple {
    @apply relative border-1.5 rounded-8 p-16px flex justify-between cursor-pointer;
  }

  .primary-button {
    @apply bg-violet-700 hover:bg-violet-version-7 text-white;
  }

  .secondary-button {
    @apply bg-secondary-color hover:bg-secondary-hover text-[#252422];
  }

  .outline-button {
    @apply border border-secondary-color hover:border-secondary-hover text-[#252422];
  }

  .text-button {
    @apply text-gray-800 hover:text-gray-700;
  }

  .basic-info-input {
    @apply focus:outline-none border-1.5 border-grey-version-3 w-full h-14 rounded-8 p-4 text-xl font-medium;
  }

  .voting-method-input {
    @apply w-full placeholder:text-grey-version-5 text-grey-version-7 border-grey-version-3;
  }

  .trash-can-button {
    @apply flex justify-center items-center px-4 py-5 rounded-8 border-[1px] border-grey-version-3 cursor-pointer;
  }
  .primary-action-button {
    @apply bg-violet-version-1 text-violet-version-5;
  }

  .outline-action-button {
    @apply text-grey-version-7 border-none bg-grey-version-9;
  }

  .input-token-address {
    @apply w-full h-full rounded-8 bg-transparent pl-4 py-4 focus:outline-none text-grey-version-5 text-text_3 font-medium;
  }

  .input-token-address-container {
    @apply flex items-center w-full h-full pr-4 border-1.5 rounded-8 gap-[10px];
  }
}
/* hot fix for antd, TODO: what went wrong? */
.ant-avatar .anticon {
  display: inline-flex;
}

html body {
  overflow-y: auto !important;
  /* margin-left: calc(100vw - 100%); */
  height: 100vh;
}

.ant-card-actions svg {
  display: inline-block;
}

.header-public {
  width: 460px;
}

.task-bar {
  /* Các thuộc tính khác */
  opacity: 1;
  transition: opacity 10s ease;
}

.task-bar.hidden {
  opacity: 0;
}
