.banner-image {
  background-color: #675dbb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 303px;
  width: 100%;
  margin: auto;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.change-banner-btn {
  display: none;
}
.banner-image:hover {
  .change-banner-btn {
    display: block;
  } 
}
