@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SFP-Pro/SFProText-Regular.woff2') format('woff2'),
    url('../assets/fonts/SFP-Pro/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Bold.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Semibold.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Semibold.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Semibold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-MediumItalic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-MediumItalic.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-MediumItalic.ttf')
      format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Light.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Light.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-SemiboldItalic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-SemiboldItalic.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-SemiboldItalic.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-ExtralightItalic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-ExtralightItalic.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-ExtralightItalic.ttf')
      format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Regular.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Regular.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Regular.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Medium.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Medium.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Italic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Italic.woff') format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-Extralight.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-Extralight.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-Extralight.ttf')
      format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-BoldItalic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-BoldItalic.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-BoldItalic.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans/GeneralSans-LightItalic.woff2')
      format('woff2'),
    url('../assets/fonts/GeneralSans/GeneralSans-LightItalic.woff')
      format('woff'),
    url('../assets/fonts/GeneralSans/GeneralSans-LightItalic.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
* {
  font-family: 'General Sans';
}

.font-general-sans {
  font-family: 'General Sans';
  font-style: normal;
}
