.tabs-homepage-config-panel {
  .ant-tabs-nav-list {
    > .ant-tabs-tab {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &:hover {
        background-color: #efe9f8;
      }
    }

    .ant-tabs-tab {
      &.ant-tabs-tab-active {
        background-color: #efe9f8;
      }
    }
  }

  .ant-tabs-content-holder {
    height: 100%;

    .ant-tabs-content {
      &.ant-tabs-content-left {
        height: 100%;

        .ant-tabs-tabpane {
          &.ant-tabs-tabpane-active {
            height: 100%;
          }
        }
      }
    }
  }

  .ant-tabs-content {
    .ant-tabs-tabpane {
      &.ant-tabs-tabpane-active {
        padding-left: 0px !important;
      }
    }
  }
}
