// .tox-sidebar-wrap {
//   padding: 20px !important;
// }

// //.tox-toolbar__group {
// //  padding: 0 !important;
// //}

// .tox-toolbar__group .tox-tbtn[aria-label='Fullscreen'] {
//   position: absolute;
//   right: 10px; /* adjust the value to your liking */
//   top: 0; /* adjust the value to your liking */
// }

// .tox-toolbar__group .tox-tbtn[aria-label='More...'] {
//   position: absolute;
//   right: 40px; /* adjust the value to your liking */
//   top: 0; /* adjust the value to your liking */
// }

// .tox-pop__dialog {
//   display: none !important;
// }

// .tox.tox-tinymce.tox-fullscreen {
//   background-color: white !important;
// }

.height-editor .ql-editor {
  height: 200px !important;
}
