// .tox-sidebar-wrap {
//   padding: 20px !important;
// }

// //.tox-toolbar__group {
// //  padding: 0 !important;
// //}

// .tox-toolbar__group .tox-tbtn[aria-label='Fullscreen'] {
//   position: absolute;
//   right: 10px; /* adjust the value to your liking */
//   top: 0; /* adjust the value to your liking */
// }

// .tox-toolbar__group .tox-tbtn[aria-label='More...'] {
//   position: absolute;
//   right: 40px; /* adjust the value to your liking */
//   top: 0; /* adjust the value to your liking */
// }

// .tox-pop__dialog {
//   display: none !important;
// }

// .tox.tox-tinymce.tox-fullscreen {
//   background-color: white !important;
// }

.ck-editor__editable {
  height: 200px !important;
}

.ck-editor__editable ol {
  padding-left: 15px !important;
}
// TODO: use this for fixing UI
.editor-ui .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  // border: 0px !important;
  height: calc(100vh - 250px) !important;
  overflow-y: scroll !important;
}

.editor-ui .ck.ck-editor__main > .ck-editor__editable.ck-focused {
  // border: 0px !important;
  // height: auto !important;
  height: calc(100vh - 250px) !important;
  overflow-y: scroll !important;
  // min-height: calc(
  //   100vh - 150px
  // ) !important; // Thay đổi giá trị này theo yêu cầu
}
