.ck-editor {
  border-radius: 8px;
}

.ck-editor__editable {
  height: 360px !important;
}

.ck-editor__editable p {
  font-size: 15px !important;
}

.ck-editor__editable ol {
  padding-left: 15px !important;
}
